
  
  .tuition-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .newspinner {
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .floating-button{
    position: fixed;
    bottom: 100px;
    right: 20px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .floating-searchbutton{
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color:rgb(1, 130, 156);

  }
  .fab-container {
    position: fixed;
    bottom: 170px;
    right: 20px;
    z-index: 1000;
  }
  
  .fab-main {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:rgb(1, 130, 156);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
    z-index: 1001;
  }
  
  .fab-main:active {
    transform: scale(0.95);
  }
  
  .fab-circle-menu {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  .fab-circle-item {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #345672d8;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    opacity: 0;
  }
  
  .fab-circle-item.user {
    bottom: 20px;
    right: 60px;
    animation: fadeIn 0.3s ease 0.1s forwards;
  }
  
  .fab-circle-item.plus {
    bottom: 70px;
    right: 20px;
    animation: fadeIn 0.3s ease 0.2s forwards;
  }
  .fab-circle-item.plus {
    bottom: 80px;
    right: 20px;
    animation: fadeIn 0.3s ease 0.2s forwards;
  }
  .fab-circle-item.admin {
    bottom: 75px;
    right: 80px;
    animation: fadeIn 0.3s ease 0.2s forwards;
  }
  
  .fab-circle-item:hover {
    background-color: #4a7fe0;
    transform: scale(1.1);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }



  
  .tuition-search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 90%;
    border-radius: 120px;
  }
  .uploadvacancycontainer{
    display: flex;
    margin-top: 20px;
    gap: 5px;
  }
  .editformvacancy{
    width: 100%;
    max-width: 400px;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .editformvacancy input{
   border-radius: 10px;
   width: calc(100% - 20px);
  }
  .modal-overlay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    position: fixed; /* Use fixed positioning to cover the entire viewport */
    top: 0; /* Position the overlay at the top of the viewport */
    left: 0; /* Position the overlay at the left of the viewport */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background-color: rgba(0, 0, 0, 0.5); /* Optional: semi-transparent background for the overlay */
  }
    .modal-overlaysearchteacher {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    position: fixed; 
    top: 0; 
    left: 0; 
    height: 100vh; 
    width: 100vw; 
    background-color: rgba(0, 0, 0, 0.659); /* Optional: semi-transparent background for the overlay */
  }

  [data-theme='light'] .modal-overlay {
    background-color: rgb(255, 255, 255);
  }
  [data-theme='dark'] .modal-overlay {
    background-color: rgb(27, 31, 34);
  }
  [data-theme='dark'] .mapboxgl-popup-content{
  background-color: #333 !important;
  }
   .mapboxgl-popup-content{
    text-align: start;
    border-radius: 20px !important;
   }
  .mapboxgl-ctrl-geocoder--input{
    color: black !important;
  }
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 90vh; 
    width: 100%;
    min-height: 300px;
    overflow-y: auto; 
    border-radius: 10px;
  
  }
    .modal-contentsearchteacher {
    display: flex;
    z-index: 101;
    flex-direction: column;
    align-items: center;
    max-height: 90vh; 
    width: 100%;
    max-width: 800px;
    background-color: rgb(35, 40, 40);
    min-height: 300px;
    overflow-y: auto; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Added shadow */
  
  }
    [data-theme='light']  .modal-contentsearchteacher {
    background-color: rgb(241, 241, 241);
  }
  
  .teachermodal-content{
    padding: 10px;
  }
  .tuition-heading {
    text-align: center;
    color: #2d96ff;
    font-size: 20px;
  }
  .modalcontentinsiders {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Space between elements */
  }
  
  /* Form Styles */
  .tuition-form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
  }
  [data-theme='light'] .tuition-form input {
    color: black;
  }
  [data-theme='dark'] .tuition-form input {
    color: white;
  }
  
  
  .tuition-input {
    width: calc(50% - 12px);
    padding: 10px;
    border: 1px solid #cccccc87;
    border-radius: 10px;
    font-size: 14px;
    
  }
  [data-theme='light'] .tuition-input {
    color: black;
  }
  [data-theme='dark'] .tuition-input  {
    color: white;
  
  }
  .tuition-input option {
    background-color: #d1e7ff62; /* Light blue background for the options */
    color: #333; /* Dark text color for the options */
  }
  
.modal-submit-container {
  position: fixed;
  bottom: 30px;
  width: 100%;
  padding: 10px 0;
  display: flex;
  z-index: 10;
  justify-content: center;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}
[data-theme='light'] .modal-submit-container {
  background-color: rgb(255, 255, 255);
}
[data-theme='dark'] .modal-submit-container {
  background-color: rgb(27, 31, 34);
}
  
  .tuition-button {
    background-color: #3498db;
    padding: 12px 18px;
    border: none;
    display: flex;
    margin-bottom: -10px;
    max-width: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tuition-button:hover {
    background-color: #2980b9;
  }
  
  /* Tabs */
  .tuitiontabwrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .tuition-tabs {
    display: flex;
    width: 98%;
    max-width: 500px;
    margin: 10px;
    background-color: rgba(91, 91, 91, 0.124);
    justify-content: center;
    gap: 5px;
    border-radius: 20px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .tuition-tab {
    padding: 10px 25px;
    display: flex;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
  }
  [data-theme = 'light'] .tuition-tab{
    background-color: transparent;
    color: black;
  }
  [data-theme = 'dark'] .tuition-tab{
    background-color: transparent;
  }
  
  .tuition-tab:hover {
    background-color: #bdc3c7;
  }
  
  [data-theme = 'light'] .tuition-tab-active {
    background-color: #009eed;
    color: white;
  }
  [data-theme = 'dark'] .tuition-tab-active {
    background-color: #115577;
    color: white;
  }
  
  .vacancy-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
  }
  
  /* Vacancy List */
  .tuition-vacancy-list {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .tuition-vacancy-list p{
    margin: 5px 0px;
  }
  .editvacancybuttions{
    width: 100%;
    display: flex;
    background-color: rgb(38, 38, 38);
    padding: 10px;
    gap: 10px;
    position: fixed;
    bottom: 20px;
    z-index: 100;
    height: 50px;
  }
  .teacheredits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: start;
    background-color: rgb(38, 38, 38);
    border-radius: 10px;
    padding: 20px;
  }
  [data-theme='light'] .teacheredits{
    background-color: rgb(255, 255, 255);
  }
  .tuition-vacancy-card {
    width: calc(100% -30px);
    border: 1px solid rgba(126, 126, 126, 0.185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 15px;
    gap: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .tuition-vacancy-title {
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    margin-left: 10px;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
  
  }
  [data-theme='light'] .copyname{
    background-color: transparent;
    color: black;
  }
  [data-theme='dark'] .copyname{
    background-color: transparent;
    color: rgb(255, 255, 255);
  }
  
  .tuition-vacancy-info {
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 5px 0;
  }
  .assignedteachers{
    background-color:rgba(128, 128, 128, 0.208) ;
    width: 90%;
    text-align: start;
    border-radius: 10px;
    padding: 10px;

  }
  
  .tuition-action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  
  .tuition-move-button {
    background-color: #27ae60;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tuition-move-button:hover {
    background-color: #219150;
  }
  
  .tuition-delete-button {
    background-color: #e74c3c;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .tuition-delete-button:hover {
    background-color: #c0392b;
  }
  
  .generateVacancy{
    background-color: rgb(248,250,252);
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 5px;
      
  }
  .generateVacancy:hover{
    color: white;
  }
  [data-theme='dark']   .generateVacancy{
    color: white;
    background-color:#333;
  }
  
  
@media (max-width: 600px) {
      
  .tuition-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .tuition-input {
    width: 80%;
    padding: 10px;
    border: 1px solid #cccccc87;
    border-radius: 10px;
    font-size: 14px;
  }
  .tuition-form {
    width: 100%;
 
  }
  .teacheredits{
    padding: 0px;
  }
    .modal-content {
      padding: 10px;
      width: calc(100% - 20px);
  }
}