.betuitorBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 300px;
  }
  .betuitorfiltercontainer{
    width: 100%;
    background: linear-gradient(45deg, #007BFF, #00C6FF);
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
  }
  .bannerImage{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .bannertext{
    position: absolute;
    font-size: 30px;
    margin-left: 10%;
    text-shadow: 10px 10px 5px rgba(222, 55, 0, 0.6), 5px 5px 6px rgba(173, 43, 0, 0.6);
  }
  
  /* BETUITOR CONTENTS */
  .BetuitotContent{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


  }
  .BetuitotContentcontainer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    width: 90%;
 
  }
  .BetuitotContentcontainer h3{
    font-weight: 300px;
    font-size: 30px;
    
  }
  
  .howitworks{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  [data-theme='dark'] .howitworks{
    background-color: #36454b3f;
    }
    
    [data-theme='light'] .howitworks{
      background-color: #f7f7f7;
    }
  
  
  .howitworksinsiders{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
  }
  .howitworks h3{
    font-weight: 400;
    font-size: 30px;
  }
  .informationofwork{
    display: flex;
    padding: 10px;
  }
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .icon {
    font-size: 40px;
    margin-right: 20px;
    color: #007BFF; /* Blue color for icons */
  }
  .icon {
    font-size: 40px;
    margin-right: 20px;
    color: #007BFF; /* Blue color for icons */
  }
  .icon {
    font-size: 40px;
    margin-right: 20px;
    color: #007BFF; /* Blue color for icons */
  }
  .learnfromus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .learnfromuscontainer{
    width: 70%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;


  }
  [data-theme='dark'] .learnfromuscontainer{
    background-color: #36454b3f;
    }
    
    [data-theme='light'] .learnfromuscontainer{
      background-color: #f7f7f7;
    }
  
  .learnfromuscontainer h3{
    font-weight: 500;
    font-size: 40px;
  }
  .learnfromuscontainer p{
    font-weight: 300;
    font-size: 20px;
  }
  .learfromusText{
    align-items: start;
    display: flex;
    flex-direction: column;
  }




  /* BETUITOR LOGIN */

  
  .tuitorlogincontainer {
    position: fixed;
    height: 100vh; 
    width: 100%; 
    top: 50%;
    transform: translateY(-50%); 
    display: flex; 
    background-color: rgb(12,12,12,0.4);
    align-items: center; 
    z-index: 100;
    justify-content: center; 
  }

  
  .tuitorlogincontents {
    position: relative;
    border-radius: 20px;
    height: 80%;
    display: flex;
    width: 60%;
    z-index: 2;
    overflow: hidden; /* Ensures content respects border-radius */
  }
  .closebutton{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  .tuitorgraphics{
    width: 500px;
    height: 100%;
  }
  .tuitorgraphicsimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tuitorloginform{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  [data-theme='light'] .tuitorloginform {
    background-color: rgb(255, 255, 255);
    }
    
    [data-theme='dark'] .tuitorloginform{
      background-color: #36454b;
    }
.loginmethods{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

  .continuewithgoogle{
    width: 80%;
    cursor: pointer;
    border: 1px solid grey;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 12px;
  }
  .continuewithgoogleimg{
    height: 20px;
    width: 20px;
  }
  .continuewithemail{
    cursor: pointer;
    width: 80%;
    border: 1px solid grey;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 12px;
  }


  .continuewithemail{
    width: 80%;
    border: 1px solid grey;
    height: 40px;
    border-radius: 12px;
  }