.betuitorBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

  }
  .betuitorfiltercontainer{
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 10px;
    margin-top: -190px;
  }

 
  .visitdashboard, .visitteachercommunity{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.293);
    cursor: pointer;
    width: 90%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .visitdashboard:hover, .visitteachercommunity:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  .bannerinsiders{
    margin-top: 100px;
    height: 100%;
    padding-bottom: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    
  }
  [data-theme='dark'] .bannerinsiders {
    background: linear-gradient(to bottom, #1a2d26, #3a6459 60%, transparent);
  }
  
  [data-theme='light'] .bannerinsiders{
    background: linear-gradient(to bottom,#4ac9ff,#ffffff  80%,transparent);
    
  }
  .bannerdiv{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 100px;

  }.lottie-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px; /* Match the Lottie width */
    height: 300px; /* Match the Lottie height */
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  }
  
  
  .bannerimg{
   height: 300px;
   margin-top: 50px;

  }
  .bannertext{
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .bannerbuttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
/* Remove the repeated .bannerbuttons selector */
.bannerbutton {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* Adjust for smaller screens */
  gap: 20px 40px; /* Increase horizontal gap to 40px and vertical gap to 30px */
  justify-content: center; /* Centers the grid items horizontally */
  justify-items: center;  /* Centers each grid item within its grid cell */
  width: 90%; /* Makes the grid take up full width of its parent */
  max-width: 800px; 
  margin: 0 auto; /* Centers the grid container itself */
  padding: 10px; /* Add padding for smaller screens */
}


  .getstartedbetuitorButton{
    margin: 10px;
    display: flex;
    gap: 10px;
  }
  .getstartedbetuitorButton button:hover{
    background-color: transparent;
  }
  
  .getstartedbetuitor {
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 20px;
    display: flex;
   background-color: #0099ff;
  }
  .getstartedbetuitor button {
    background-color: transparent;
  }
  .getstartedbetuitor:hover {
   background-color: #1aa4ff;
  }
 
 
  
  /* BETUITOR CONTENTS */
  .BetuitotContent{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;


  }
  .BetuitotContentcontainer{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 80%;
 
  }
  .BetuitotContentcontainer h3{
    font-size: 30px;
    
  }
  
  .howitworks{
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  [data-theme='dark'] .howitworks{
    background-color: #36454b3f;
    }
    
    [data-theme='light'] .howitworks{
      background-color: #f7f7f7;
    }
  
  
  .howitworksinsiders{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   
  }
  .howitworks h3{
    font-weight: 400;
    font-size: 30px;
  }
  .informationofwork{
    display: flex;
    padding: 10px;
  }
  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .icon {
    font-size: 40px;
    margin-right: 20px;
    color: #007BFF; /* Blue color for icons */
  }
  .icon {
    font-size: 40px;
    margin-right: 20px;
    color: #007BFF; /* Blue color for icons */
  }
  .icon {
    font-size: 40px;
    margin-right: 20px;
    color: #007BFF; /* Blue color for icons */
  }
  .learnfromus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .learnfromuscontainer{
    width: 70%;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    justify-content: space-between;


  }
  [data-theme='dark'] .learnfromuscontainer{
    background-color: #36454b3f;
    }
    
    [data-theme='light'] .learnfromuscontainer{
      background-color: #f7f7f7;
    }
  
  .learnfromuscontainer h3{
    font-weight: 500;
    font-size: 40px;
  }
  .learnfromuscontainer p{
    font-weight: 300;
    font-size: 20px;
  }
  .learfromusText{
    align-items: start;
    display: flex;
    flex-direction: column;
  }
  .learfromusVideo iframe{
    width: 560px;
    height: 315px;
  }




  /* BETUITOR LOGIN */

  
  .tuitorlogincontainer {
    position: fixed;
    height: 100vh; 
    width: 100%; 
    top: 50%;
    transform: translateY(-50%); 
    display: flex; 
    background-color: rgb(12,12,12,0.4);
    align-items: center; 
    z-index: 100;
    justify-content: center; 
  }

  
  .tuitorlogincontents {
    position: relative;
    border-radius: 20px;
    height: 80%;
    display: flex;
    width: 60%;
    z-index: 2;
    overflow: hidden; 
  }
  .closebutton{
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  .tuitorgraphics{
    width: 50%;
    height: 100%;
  }
  [data-theme='light'] .tuitorgraphics {
    background-color: rgb(255, 255, 255);
    }
    
    [data-theme='dark'] .tuitorgraphics{
      background: linear-gradient(180deg,  rgb(40,45,45) 0%,rgb(2, 38, 38) 100%);
    }

  .tuitorgraphicsimg{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tuitorloginform{
    width: 50%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  [data-theme='light'] .tuitorloginform {
    background-color: rgb(255, 255, 255);
    }
    
    [data-theme='dark'] .tuitorloginform{
      background: linear-gradient(180deg,  rgb(40,45,45) 0%,rgb(2, 38, 38) 100%);
    }
    .tick {
      margin-right: 10px;
    }
    .indent {
      display: inline-block;
      margin-left: 30px; 
    }
    .tuitorgraphicstext{
      position: absolute;
      top: 20px;
      text-align: start;
      font-size: 14px;
      padding: 0 20px;
    }
    .tuitorgraphicstext h1{
      color: white;
      font-size: 30px;
    }
    .tuitorgraphicstext h1,
.tuitorgraphicstext h2 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.66); /* Adjust the shadow size and opacity */
}
.loginmethods{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

  .continuewithgoogle{
    width: 80%;
    cursor: pointer;
    border: 1px solid grey;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 12px;
  }
  .continuewithgoogleimg{
    height: 20px;
    width: 20px;
  }
  .continuewithemail{
    cursor: pointer;
    width: 80%;
    border: 1px solid grey;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    border-radius: 12px;
  }


  .continuewithemail{
    width: 80%;
    border: 1px solid grey;
    height: 40px;
    border-radius: 12px;
  }
  @media (max-width: 600px) {
    .learnfromus{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .learnfromuscontainer{
      width: 100%;
      display: flex;
      padding: 0px;
      border-radius: 0px;
      flex-direction: column;
    
  
    }
    .learfromusVideo iframe{
      width: 100%;
      height: 315px;
    }
    .howitworksinsiders{
      width: 100%;
      font-size: 14px;
    }
    .informationofwork{
      padding: 0px;
    }
  
  }