.chat-container {
    z-index: 100;
    max-width: 300px;
    width: 90%;
    height: 450px;
    padding: 20px;
    margin: auto;
    position: fixed;
    bottom: 120px;
    right: 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, rgb(50, 55, 55) 0%, rgb(35, 41, 41) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transition: transform 0.4s ease-in-out, opacity 0.3s ease-in-out, clip-path 0.4s ease-in-out;
    transform-origin: right;
    clip-path: inset(0 0 0 0); /* Fully visible */
}

[data-theme='light'] .chat-container {
    background: linear-gradient(135deg, rgb(225, 225, 225) 0%, rgb(240, 240, 240) 100%);
}

.chat-container.closed {
    opacity: 0;
    transform: scale(0.2) translate(100%, 100%);
    clip-path: inset(50% 50% 50% 50%); /* Wraps inwards */
}

.chat-container.open {
    opacity: 1;
    transform: scale(1) translate(0, 0);
    clip-path: inset(0 0 0 0); /* Expands outward */
}


  

.chat-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.titleofbot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-box {
    flex-grow: 1;
    height: 320px;
    padding: 10px;
    overflow-y: auto;
    border-radius: 20px;
    color: white;
}


.message {
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 14px;
}

.user-message {
    background-color: #444;
    align-self: flex-end;
    text-align: right;
    border-radius: 20px;
    background-color: rgb(10,124,255);
    color: white;
}




.bot-message {
    display: flex;
    align-items: center;
    align-self: flex-start;
    border-radius: 20px;
    color: white;
    background-color:rgb(42, 54, 54);
    padding: 10px;
    max-width: 75%;
}

.message-wrapper {
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
}

.bot-avatar {
    width: 35px;
    height: 35px;
    margin-top: 10px;
    border-radius: 50%;
    margin-right: 10px;
}
[data-theme='light'] .bot-message {
    background: rgb(255, 255, 255);
    color: black;
    
  }

.input-container {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    border: none;
    background-color: #333;
    color: white;
}
[data-theme='light'] .chat-input {
    background-color: rgb(209, 209, 209);
    color: black;
    
  }


.send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    max-height: 40px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.send-button:hover {
    background-color: #0056b3;
}
