
  /* BANNER */
  .homeBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 500px;
    margin-top: -100px;
  
  }
  [data-theme='dark'] .homeBanner {
    background: linear-gradient(to bottom, #1a282d, #3a5a64 80%, transparent);
  }
  
  [data-theme='light'] .homeBanner{
    background: linear-gradient(to bottom,#4ac9ff,#ffffff  80%,transparent);
    
  }
  
  .homefiltercontainer{
    width: 100%;
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
  }



 .blue-dot {
  width: 250px; /* Width of the flare */
  height: 250px; /* Height of the flare */
  background: radial-gradient(
    circle,
    rgba(0, 122, 255, 0.8) 10%, /* Intense blue at the center */
    rgba(0, 122, 255, 0.3) 100%, /* Fading to a lighter blue */
    rgba(0, 122, 255, 0.1) 100%, /* Very faint blue */
    rgba(255, 255, 255, 0) 100% /* Fully transparent edges */
  );
  border-radius: 50%; /* Ensures the shape is a perfect circle */
  box-shadow: 
    0 0 100px 30px rgba(0, 122, 255, 0.5), /* Outer glow */
    0 0 200px 60px rgba(0, 122, 255, 0.3); /* Fainter, extended glow */
  margin-left: 45%; /* Adjust positioning */
  margin-top: 5%; /* Adjust positioning */
  position: absolute; /* Positioned absolutely */
}


  .homebannertext{
    position: absolute;
    font-size: 30px;
    margin-left: 10%;
    text-shadow: 0px 2px 0px rgba(46, 46, 46, 0.183), 0px 5px 6px rgba(40, 40, 40, 0.3);
  }
  .homebannertext h1{
    font-size: 40px;
  }
  [data-theme='dark'] .homebannertext h1 {
  color: white;
  }
  
  [data-theme='light'] .homebannertext h1{
    color: #222;
  }
  
.getstartedbuttos{
  margin: 10px;
  display: flex;
  gap: 10px;
}
.getstartedbuttos button:hover{
  background-color: transparent;
}

.getstarted {
  border-radius: 30px;
  padding: 5px 10px;
 background-color: #0099ff;
}
.Explore {
  border-radius: 30px;
  padding: 5px 10px;
  background-color: transparent;
  border-bottom: 2px solid black; /* Dynamic border color */
  color: var(--primary-text-color); /* Dynamic text color */
  transition: color 0.3s ease, border-color 0.3s ease; /* Smooth theme transitions */
}
.tuitorpngbanner{
  width: 400px;
  position: absolute;
  margin-left: 50%;
  top: 60px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
 }




  /* FORM */
  .FormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  [data-theme='dark'] .FormBox {
    background: linear-gradient(to top,  #1a282d00, #1a282d00);
  }
  
  [data-theme='light'] .FormBox{
    background: rgb(255, 255, 255);
  }

  h1 {
    margin-bottom: 20px;
    color: var(--primary-text-color-light);
  }
  .classAndSubject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .formmainContainer {
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: center;
    align-items: center;
  }

  [data-theme='dark'] .FormBox {
   color: white;
  }
  
  [data-theme='light'] .FormBox{
 color: #1a282d;
  }

  
  body.dark-mode .form-container {
    background-color: var(--primary-bg-color-dark);
  }
  
  .studentFormHomeTuition {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  input {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    color: #222; /* Default text color for light theme */
  }
  .formSelectInput {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
  
  }
  
  [data-theme='dark'] .formSelectInput {
    background-color: #222;
    border-radius: 8px;
  }
  [data-theme='light'] .formSelectInput {
    color: rgb(65, 65, 65);
    background-color: #cecece;
    border-radius: 8px;
    
  }

  
  .nameandage{
    display: flex;
    gap: 30px;
    width: 100%;
  }
  .studentDetailsStep{
    width: 100%;
  }
  .phoneandlocation{
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .LocationStep{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  [data-theme='dark'] .formInput {
    background-color: #222;
    border-radius: 8px;
  }
  [data-theme='light'] .formInput {
    color: rgb(65, 65, 65);
    background-color: #cecece;
    border-radius: 8px;
    
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-light);
    color: var(--button-text-color-light);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  [data-theme="dark"] button {
    background-color: transparent; /* Make button background transparent in dark mode */
    color: var(--button-text-color-dark); /* Adjust text color for dark mode if needed */
  }
  button:hover {
    background-color: var(--button-hover-light);
  }
  
  body.dark-mode button {
    background-color: var(--button-bg-dark);
    color: var(--button-text-color-dark);
  }
  
  body.dark-mode button:hover {
    background-color: var(--button-hover-dark);
  }



  /* STEPS */

  .fornnavigationButtons{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-self: center;
  }

  .stepProgressBarContainer {
    width: 100%;
    height: 8px;
    background-color: #36454b7f;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .stepProgressBar {
    height: 100%;
    display: flex;
    transition: width 0.5s ease-in-out; 
  }
  [data-theme='dark'] .stepProgressBar {
    background-color:  #566d767f;
   }
   
   [data-theme='light'] .stepProgressBar{
    background-color: #0099ff;
   }
 
  .stepProgressBarNames {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 25%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out; 
  }
  
  .stepProgressBarNames .stepIndicator {
    display: inline-block;
    width: 33.33%; /* Equal space for each step */
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  .stepProgressBarNames .stepIndicator.active {
    background-color:  #36454b7f
  }

  .stepIndicator .stepcount {
    font-size: 18px;
    font-weight: bold;
  
  }
  
  .stepIndicator .stepname {
    font-size: 14px;
  
  }
  
  .fornnavigationButtons button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  




  @media (max-width: 600px) { 
    .tuitorpngbanner{
     display: none;
     }
    .classAndSubject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .homebannertext h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--primary-text-color-light);
  }
  .blue-dot {
    width: 200px; /* Width of the flare */
    height: 200px; /* Height of the flare */
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%); /* Center the element */
    border-radius: 50%; /* Make it a circle */
  }
  
  
  }

  /* Vaccancy */
  
/* ONNLINE CLASS RESULTS */
.home-vaccancy-page {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -20px;

}
[data-theme='dark'] .home-vaccancy-page{
  background-color: #1a282d00;
  }
  
  [data-theme='light'] .home-vaccancy-page{
    background: rgb(255, 255, 255);
  }

.vaccancymainCntainer{
  width: 80%;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vaccancyfilters {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.filterboxs {
  display: flex;
  gap: 20px; /* Spacing between filter sections */
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Max width for larger screens */
}

.filterbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filterbox h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.filterbox select {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
}
[data-theme='dark'] .filterbox select{
  background-color: #36454bad;
  }
  
  [data-theme='light'] .filterbox select{
    background-color: #f1f1f173;
    color: black;
  }


.search-container-vaccancy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%; 
  min-width: 200px;
  margin-top: 10px;
  height: 50px;
  border-radius: 25px; 
  padding: 0 0px 0px 15px;
  position: relative;
  overflow: hidden; 
}
[data-theme='dark'] .search-container-vaccancy{
  background-color: #36454bad;
  }
  
  [data-theme='light'] .search-container-vaccancy{
    background-color: #f1f1f173;
  }



/* Search Input Field */
.search-vaccancy {
  top:8px;
  border: none !important;
  outline: none;
  background: transparent;
  font-size: 16px;
  position: relative;
  padding: 0 10px; 
  height: 100%;
}

[data-theme='dark'] .search-vaccancy::placeholder {
  color: white;
  }
  
  [data-theme='light'] .search-vaccancy::placeholder{
    color: #222;
  }

.search-vaccancyiconcontainer {
  width: 50px;
  border-radius: 50%;
  height: 45px;
  background-color: #0099ff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

}

.search_vaccancyicon {
  width: 40%;
  height: 40%;
  object-fit: cover;
  background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png'); /* Replace with your icon */
  background-size: cover;
  cursor: pointer; /* Pointer cursor for interactivity */
}

.vaccancy-container {
  cursor: pointer;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); /* Four cards per row */
  gap: 10px;
  margin: 10px auto;
}

.vaccancy-card {
  border-radius: 8px;
  padding: 10px;
  text-align: start;
  transition: transform 0.2s ease;
}
[data-theme='dark'] .gig-card{
  background-color: #36454b3e;
  }
  
  [data-theme='light'] .gig-card{
    background-color: transparent;
  }




.vaccancy-card:hover {
  transform: translateY(-5px);
}

.vaccancy-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
.vaccancyProfile{
  border-radius: 50%;
  height: 30px;
  width: 30px;
  object-fit: cover;
}
.vaccancyprofilecontainer{
  display: flex;
  gap: 10px;
  font-size: 15px;
}
.vaccancy-location {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 10px 0px 0;
}
.vaccancy-rating{
  display: flex;
  gap: 8px;

  font-weight: bold;
}
.vaccancy-price{
  font-size: 0.9rem;
  color: #666;
  font-weight: 300;
}

.vaccancy-qualification {
  font-size: 0.9rem;
  color: #666;
  font-weight: 300;
}
.vaccancyapplybutton{
  width: 100px;
  margin: 10px 0;
 
}
[data-theme='dark'] .vaccancyapplybutton{
  background-color:  #36454b7f; 
  }
  
  [data-theme='light'] .vaccancyapplybutton{
    background-color: #0099ff;
  }


@media (max-width: 1000px) {

  .vaccancy-container {
    grid-template-columns: repeat(3, 1fr); /* Two cards per row */
  }
}

@media (max-width: 768px) {

  .home-vaccancy-page {
    padding: 0px;
    font-family: Arial, sans-serif;
    text-align: center;
  }

  .vaccancy-container {
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  }
}

@media (max-width: 480px) {
  .vaccancy-container {
    grid-template-columns: repeat(1, 1fr); /* One card per row */
  }
}
/* ONLINE CLASS FILTER */

  