
  /* BANNER */
  .homeBanner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 500px;
    margin-top: -100px;
  
  }
  [data-theme='dark'] .homeBanner {
    background: linear-gradient(to bottom, #1a282d, #3a5a64 80%, transparent);
  }
  
  [data-theme='light'] .homeBanner{
    background: linear-gradient(to bottom,#4ac9ff,#ffffff  80%,transparent);
    
  }
  .loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

  
  .homefiltercontainer{
    width: 100%;
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 100%;
  }



 .blue-dot {
  width: 250px; /* Width of the flare */
  height: 250px; /* Height of the flare */
  background: radial-gradient(
    circle,
    rgba(0, 122, 255, 0.8) 10%, /* Intense blue at the center */
    rgba(0, 122, 255, 0.3) 100%, /* Fading to a lighter blue */
    rgba(0, 122, 255, 0.1) 100%, /* Very faint blue */
    rgba(255, 255, 255, 0) 100% /* Fully transparent edges */
  );
  border-radius: 50%; /* Ensures the shape is a perfect circle */
  box-shadow: 
    0 0 100px 30px rgba(0, 122, 255, 0.5), /* Outer glow */
    0 0 200px 60px rgba(0, 122, 255, 0.3); /* Fainter, extended glow */
  margin-left: 45%; /* Adjust positioning */
  margin-top: 5%; /* Adjust positioning */
  position: absolute; /* Positioned absolutely */
}


  .homebannertext{
    position: absolute;
    font-size: 30px;
    margin-left: 10%;
    text-shadow: 0px 2px 0px rgba(46, 46, 46, 0.183), 0px 5px 6px rgba(40, 40, 40, 0.3);
  }
  .homebannertext h1{
    font-size: 40px;
  }
  [data-theme='dark'] .homebannertext h1 {
  color: white;
  }
  
  [data-theme='light'] .homebannertext h1{
    color: #222;
  }
  


.getstartedbuttos{
  margin: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}
.getstartedbuttos button:hover{
  background-color: transparent;
}

.getstarted {
  border-radius: 30px;
  padding: 5px 10px;
  background-color: #0099ff;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.Explore {
  border-radius: 30px;
  padding: 5px 10px;
  background-color: transparent;
  color: var(--primary-text-color); /* Dynamic text color */
 
}

[data-theme='dark'] .Explore {
  border-bottom: 2px solid white;
}

[data-theme='light'] .Explore{
  border-bottom: 2px solid rgb(0, 0, 0);
  
}
.getstarted button{
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  

}
.getstarted:hover {
  background-color: rgb(0, 162, 255);
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.Explore button:hover {
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.635); 
}

.Explore button{
  background-color: transparent;
  font-size: 16px;
  color: var(--primary-text-color);
  padding: 10px;
  display: block;
  width: 100%;
  transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
}

.tuitorpngbanner{
  width: 400px;
  position: absolute;
  margin-left: 50%;
  top: 60px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
 }




  /* FORM */
  .FormBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  [data-theme='dark'] .FormBox {
    background: linear-gradient(to top,  #1a282d00, #1a282d00);
  }
  
  [data-theme='light'] .FormBox{
    background: rgb(255, 255, 255);
  }

  h1 {
    margin-bottom: 20px;
    color: var(--primary-text-color-light);
  }
  .classAndSubject{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }
  .formmainContainer {
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 400px;
    justify-content: center;
    align-items: center;
  }

  [data-theme='dark'] .FormBox {
   color: white;
  }
  
  [data-theme='light'] .FormBox{
 color: #1a282d;
  }

  
  body.dark-mode .form-container {
    background-color: var(--primary-bg-color-dark);
  }
  
  .studentFormHomeTuition {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  
  input {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
    font-size: 16px;
    color: #222; /* Default text color for light theme */
  }
  .formSelectInput {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
  
  }
  
  [data-theme='dark'] .formSelectInput {
    background-color: #222;
    border-radius: 8px;
  }
  [data-theme='light'] .formSelectInput {
    color: rgb(65, 65, 65);
    background-color: #cecece;
    border-radius: 8px;
    
  }

  
  .nameandage{
    display: flex;
    gap: 30px;
    width: 100%;
  }
  .studentDetailsStep{
    width: 100%;
  }
  .phoneandlocation{
    display: flex;
    gap: 30px;
    width: 100%;
  }

  .LocationStep{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  [data-theme='dark'] .formInput {
    background-color: #222;
    border-radius: 8px;
  }
  [data-theme='light'] .formInput {
    color: rgb(65, 65, 65);
    background-color: #cecece;
    border-radius: 8px;
    
  }




  /* STEPS */

  .fornnavigationButtons{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-self: center;
  }

  .stepProgressBarContainer {
    width: 100%;
    height: 8px;
    background-color: #36454b7f;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .stepProgressBar {
    height: 100%;
    display: flex;
    transition: width 0.5s ease-in-out; 
  }
  [data-theme='dark'] .stepProgressBar {
    background-color:  #566d767f;
   }
   
   [data-theme='light'] .stepProgressBar{
    background-color: #0099ff;
   }
 
  .stepProgressBarNames {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 25%;
    border-radius: 5px;
    transition: width 0.5s ease-in-out; 
  }
  
  .stepProgressBarNames .stepIndicator {
    display: inline-block;
    width: 33.33%; /* Equal space for each step */
    text-align: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  .stepProgressBarNames .stepIndicator.active {
    background-color:  #36454b7f
  }

  .stepIndicator .stepcount {
    font-size: 18px;
    font-weight: bold;
  
  }
  
  .stepIndicator .stepname {
    font-size: 14px;
  
  }
  
  .fornnavigationButtons button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }
  




  @media (max-width: 600px) { 
    .tuitorpngbanner{
     display: none;
     }
    .classAndSubject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
  }
  .homebannertext h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--primary-text-color-light);
  }
  .blue-dot {
    width: 200px; /* Width of the flare */
    height: 200px; /* Height of the flare */
    position: absolute;
    top: 20%;
    left: 10%;
    transform: translate(-50%, -50%); /* Center the element */
    border-radius: 50%; /* Make it a circle */
  }
  
  
  }

  /* Vaccancy */
  
/* ONNLINE CLASS RESULTS */
.homevacancybody{
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-vaccancy-page {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: -20px;

}
[data-theme='dark'] .home-vaccancy-page{
  background-color: #1a282d00;
  }
  
  [data-theme='light'] .home-vaccancy-page{
    background: rgb(255, 255, 255);
  }

.vaccancymainCntainer{
  width: 80%;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.vaccancyfilters {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filterboxs {
  display: flex;
  gap: 20px; /* Spacing between filter sections */
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Max width for larger screens */
}

.filterbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filterbox h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}

.filterbox select {
  width: 200px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  font-size: 14px;
}
[data-theme='dark'] .filterbox select{
  background-color: #36454bad;
  }
  
  [data-theme='light'] .filterbox select{
    background-color: #f1f1f173;
    color: black;
  }
  [data-theme='dark'] .filterbox select:focus{
    background-color: #36454b;
    }
    
    [data-theme='light'] .filterbox select:focus{
      background-color: #f1f1f173;
      color: black;
    }
  
.price-slider-container {
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
}
.pricerangeofslider{
  display: flex;
  flex-direction: column;
}
.price-slider-container h3 {
  margin: 0 0 5px 0;
  font-size: 14px;
}


.price-slider {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  cursor: pointer;
}
[data-theme='dark'] .price-slider {
  background-color: #36454bad;
  }
  
  [data-theme='light'] .price-slider {
    background-color: #cecece;
  }



.price-slider-thumb {
  height: 20px;
  width: 20px;
  background-color: #0099ff; /* Bright color for thumb */
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}


.price-slider-thumb:hover {
  background-color: #0080d5; 
}


.search-container-vaccancy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%; 
  min-width: 200px;
  margin-top: 30px;
  height: 50px;
  border-radius: 25px; 
  padding: 0 0px 0px 15px;
  position: relative;
  overflow: hidden; 
}
[data-theme='dark'] .search-container-vaccancy{
  background-color: #36454bad;
  }
  
  [data-theme='light'] .search-container-vaccancy{
    background-color: #f1f1f173;
  }



/* Search Input Field */
.search-vaccancy {
  top:8px;
  border: none !important;
  outline: none;
  background: transparent;
  font-size: 16px;
  position: relative;
  padding: 0 10px; 
  height: 100%;
}
[data-theme='dark'] .search-vaccancy {
  color: white;
  }
  
  [data-theme='light'] .search-vaccancy{
    color: #222;
  }


[data-theme='dark'] .search-vaccancy::placeholder {
  color: white;
  }
  
  [data-theme='light'] .search-vaccancy::placeholder{
    color: #222;
  }

.search-vaccancyiconcontainer {
  width: 50px;
  border-radius: 50%;
  height: 45px;
  background-color: #0099ff;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;

}

.search_vaccancyicon {
  width: 40%;
  height: 40%;
  object-fit: cover;
  background-image: url('https://cdn-icons-png.flaticon.com/512/622/622669.png'); /* Replace with your icon */
  background-size: cover;
  cursor: pointer; /* Pointer cursor for interactivity */
}
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* Full height of the viewport */
}

.spinner {
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 2px solid rgb(0, 157, 255);
  border-top-color: white;
  border-radius: 50%;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.vaccancy-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* Spacing between cards */
  width: 100%;
  margin-top: 20px;
}

.vacancycardinsiders{
  border-radius: 10px;
}

[data-theme='dark'] .vacancycardinsiders{
  background-color: rgb(25,25,25);
  
  }
  
  [data-theme='light'] .vacancycardinsiders{
    background-color: rgb(241, 241, 241);
  }
  .vaccancy-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 420px; 
  }
  [data-theme='dark']  .vaccancy-card {
    background-color: rgb(25,25,25);
    
    }
    
    [data-theme='light']  .vaccancy-card {
      background-color: rgb(236, 236, 236);
    }
.vaccancy-card:hover {
  transform: translateY(-5px);
}
.vacancyimagecontainer{
  position: relative;
  position: relative;
}
.coursedefualtposter{
  width: 400px;
  position: relative;
  height: 100px;
  border-radius: 10px 10px 0px 0px;
}
[data-theme='dark'] .coursedefualtposter{
  background-color: rgb(35, 41, 41);
  }
  
  [data-theme='light'] .coursedefualtposter{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.345);
  }
.vaccancy-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  transition: all 0.3s ease-in-out;
}
.vaccancy-image:hover {
  height: 200px;

}
.gigsdefualtposter{
  width: 100%;
  position: relative;
  height: 100px;
  border-radius: 10px 10px 0px 0px;

}
[data-theme='dark'] .gigsdefualtposter{
  background-color: rgb(35, 41, 41);
  }
  
  [data-theme='light'] .gigsdefualtposter{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.345);
  }
  .kubegraphicscontainer{
    display: flex;
    position: absolute;
    top: 40%;
    left: 10%;
    gap: 10px;
  }
.kubegraphics{
  height: 40px;
  margin-top: -5px;
  width: 40px;
}
.vaccancyProfile{
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.vaccancyprofilecontainer{
  position: absolute;
  display: flex;
  right: 20px;
  border-radius: 50%;
  padding: 8px;
  bottom: -30px;
  gap: 5px;
  font-size: 25px;
}
[data-theme='dark'] .vaccancyprofilecontainer{
  background-color: rgb(25, 25, 25);
  }
  
  [data-theme='light'] .vaccancyprofilecontainer{
    background-color: rgb(241, 241, 241);
  }
.vaccancy-details{
  border-radius: 0 0 10px 10px;
  


  
}
[data-theme='dark'] .vaccancy-details{
  background-color: rgba(25, 25, 25, 0.97);
  }
  
  [data-theme='light'] .vaccancy-details{
    background-color: rgb(236, 236, 236);
  }
.vacancydetailsinsiders{
  padding: 10px;
}
.vaccancyprofilecontainer h3{
  font-size: 15px;
  font-weight: 600;
}
.vaccancy-location {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px 0px 0;
}
.vaccancy-price{
  font-size: 0.9rem;
  color: #666;
  font-weight: 300;
}

.vaccancy-qualification {
  font-size: 0.9rem;
  color: #666;
  font-weight: 300;
}
.vaccancyapplybutton{
  width: 100px;
  margin: 10px 0;
 
}
[data-theme='dark'] .vaccancyapplybutton{
  background-color:  #36454b7f; 
  }
  
  [data-theme='light'] .vaccancyapplybutton{
    background-color: #0099ff;
    color: white;
  }


@media (max-width: 1000px) {

  .vaccancy-container {
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  }
  .tuitorpngbanner{
    width: 100%;
    max-width: 350px;
  }
  .vaccancyfilters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .filterboxs {
    display: flex;
    justify-content: center;
   
    gap: 20px; /* Adds spacing between the individual filters */
    align-items: center; /* Vertically centers the items */
  }
}

@media (max-width: 768px) {
  .filterbox select {
    width: 150px;
    padding: 8px;
  }
  .price-slider-container {
    width: 150px;
    margin: 0 auto;
    border-radius: 8px;
  }
  .tuitorpngbanner{
    width: 100%;
    max-width: 300px;
  }

  .home-vaccancy-page {
    padding: 0px;
    width: 100%;
    text-align: center;
  }

  .vaccancy-container {
    grid-template-columns: repeat(1, 1fr); /* Two cards per row */
  }
  .vaccancy-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  .vaccancy-card{
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  
}

@media (max-width: 480px) {
  .vaccancyfilters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .vaccancy-container {
    grid-template-columns: repeat(1, 1fr); /* One card per row */
  }
  .filterboxs {
    display: flex;
    justify-content: center;
    

    align-items: center; /* Vertically centers the items */

  }
  .search-container-vaccancy {
    display: flex;
    align-items: center;
    justify-content: center;
  width: 100%;
  }
  
  .search-vaccancy {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
}
/* ONLINE CLASS FILTER */

  