.navbar {
  z-index: 100;
  width: 100%;

}
.navbarcontents{
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: sticky;
  padding: 10px 20px;
}


.Logo {
  height: 50px;
  width: 50px;
}

.Title {
  margin: -10px;
  text-align: center;
}

.navlinks {
  display: flex;
  gap: 20px;
  align-items: center;
  width: auto;
  
}

.navbuttons {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: var(--button-background);
  color: var(--text-color);
  border: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}

.navbuttons:first-child {
  border-left: 2px solid var(--text-color);
}

.themeButton {
  border-radius: 10px;
  padding: 10px;
}

.themeButton svg {
  font-size: 1.5rem;
}
.OnlineClass{
  display: block;
}
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Mobile responsiveness */
@media (max-width: 1100px) {
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }
  .OnlineClass{
    border: 1px solid grey;
    display: none;
  }


  .navlinks {
    flex-direction: column;
    gap: 10px;
    background-color: white;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100 !important;
    margin-top: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Hide nav links by default */
  }
  [data-theme="dark"] .navlinks {
    background-color: #242424;
    color: var(--button-text-color-dark); 
  }
  .navbuttons svg {
    font-size: 1.5rem;
  }

  .navlinks.active {
    display: flex; /* Show nav links when active */
  }

  .navbuttons {
    width: 100%; /* Make buttons full-width */
    text-align: left;
    padding: 12px;
    display: flex;
    justify-content: center;

  }

  .themeButton {
    font-size: 1.2rem;
    padding: 12px;
  }

  .Logo {
    margin-bottom: 10px;
  }

  /* Show hamburger icon on mobile */
  .hamburger {
    margin-top: 12px;
    display: block;
  }
}
@media (max-width: 600px) {
  .Title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 14px;
  }
  .navbuttons svg {
    font-size: 1.5rem;
  }
  
}