
/* ONNLINE CLASS RESULTS */
.online-classes-page {
    text-align: center;
    width: 100%;
  }
  .gigfiltercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .gigfilter{
     width: 80%;
     margin-left: -40px;
    justify-content: center;
    align-items: center;
  }

  .gigs-container {
    cursor: pointer;
    display: grid;
    width: 80%;
    grid-template-columns: repeat(4, 1fr); /* Four cards per row */
    gap: 10px;
    margin: 10px auto;
  }
  
  .gig-card {
    border-radius: 8px;
    padding: 10px;
    text-align: start;
    transition: transform 0.2s ease;
    background-color: transparent;
  }
  
  

  
  .gig-card:hover {
    transform: translateY(-5px);
  }
  
  .gig-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  .gigProfile{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
  }
  .gigprofilecontainer{
    display: flex;
    gap: 10px;
    font-size: 15px;
  }
  .gig-title {
    font-size: 18px;
    margin: 10px 10px 0px 0;
  }
  .gig-rating{
    display: flex;
    gap: 8px;

    font-weight: bold;
  }
  .gig-price{
    font-weight: bold;
  }
  
  .gig-qualification {
    font-size: 0.9rem;
    color: #666;
    font-weight: 300;
  }
  
 
  @media (max-width: 1000px) {

    .gigs-container {
      grid-template-columns: repeat(3, 1fr); /* Two cards per row */
    }
  }

  @media (max-width: 768px) {

    .online-classes-page {
      padding: 0px;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .gigs-container {
      grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    }
  }
  
  @media (max-width: 480px) {
    .gigs-container {
      grid-template-columns: repeat(1, 1fr); /* One card per row */
    }
  }
  /* ONLINE CLASS FILTER */

  .onlineclassfiltercontainer {
   margin-top: -90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    height: 320px;
  }

  [data-theme='dark'] .onlineclassfiltercontainer{
    background: linear-gradient(180deg, #3a5a64 0%,#1a282d 100%);
    }
    
    [data-theme='light'] .onlineclassfiltercontainer{
      background: linear-gradient(180deg, rgb(145, 215, 255) 0%, rgb(38, 105, 193) 100%);
    }
  
  .onlineclassfiltercontainer h3 {
    font-weight: 300;
    font-size: 40px;
    margin: 0 40px 10px;
    text-shadow: 10px 10px 5px rgba(1, 37, 60, 0.6), 5px 5px 6px rgba(0, 25, 37, 0.6);
  }
  
  .searchContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .searchBar {
    background-color: rgba(255, 255, 255, 0.452);
    height: 50px;
    width: 40%;
    border-radius: 25px;
    display: flex;
    align-items: center; /* Center content vertically */
    padding: 0 15px; /* Add space inside the bar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .searchBar input {
    border: none;
    width: 100%;
    font-size: 16px;
    padding: 10px 0;
    outline: none;
    border-radius: 25px;
    color: #333;
    background: transparent; 
    margin: 0px;
  }
  
  .searchBar input::placeholder {
    color: #434343;
    margin: 0px;
  }
  
  .searchBar .searchIcon {
    color: #007BFF;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .searchBar input:focus {
    outline: none;
    box-shadow: none;
  }
  .onlineclassfilter{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  }
  [data-theme='dark'] .onlineclassfilter{
    background-color: #1a282d86;
    }
    
    [data-theme='light'] .onlineclassfilter{
      background-color: rgba(38, 105, 193, 0.779);
    }
  
  
  
  .onlineclassfilterList{
    display: flex;
    gap: 20px;
    font-size: 18px;
    justify-content: center;
    
    align-items: center;
  }
  .SubjectArea{
    cursor: pointer;
    padding: 10px 20px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

