.studentprofilepage{
    width: 100%;
}
.studentprofilecontainer{
    display: flex;
    width: 100%;
    flex: 1;
}
.profiledetailscontainer{
    margin: 10px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 20px;
    width: 100%;
}
.profiledetails{
    margin: 10px;
}
.profilepicture{
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
}
.joineddate{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 30px;
    gap: 10px;
}

.profileedits{
    margin: 10px;
    height: 100px;
    border-radius: 20px;
    width: 100%;
}
.suggestions{
    background-color: #0099ff17;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid  #0099ffca;
    border-radius: 10px;
    text-align: start;
}
.suggestioninsides{
    display: flex;
}
.closesuggestions{
    font-weight: bold;
    margin: 0 10px;
    cursor: pointer;
}
.profileeditcontainer{
    display: flex;
    margin: 10px;
    flex-direction: column;
    text-align: start;
}
.completeyourprofile{
    margin-top: 20px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 20px;
}
.profilechecklist{
    padding: 10px 20px;
    font-size: 14px;
}
.personalizationbar{
    height: 10px;
    border-radius: 10px;
    background-color: #0099ff17;
   
}
.yourpurposeonkube {
    margin: 10px 20px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.163);
    align-items: flex-start; 
    justify-content: space-between; 
    padding: 10px; 
    position: relative;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.yourpurposeonkube:hover{
    transform: translateX(5px);
}

.iconcontainer {
    margin-top: 12px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.purposeonkubeinsiders {
    padding: 10px;
    flex: 1; 
}

.purposebutton {
    border: none;
    padding: 0px 15px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; 
    transition: background-color 0.3s ease;
}


.reviewsfromteachers {
    margin-top: 20px;
    border: 1px solid rgb(74, 74, 74);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    align-items: stretch; /* Allow the content to stretch the full width */
}


.reviewfromteacherinsiders {
    padding: 20px;
    text-align: start;
    display: flex;
    justify-content: flex-start; /* Align text to the start */
}

.reviewimage {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
}
.reviewinsiders {
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; /* Align text to the start */
}


@media (max-width: 600px) {

    .studentprofilecontainer{
       flex-direction: column;
    }
    .profiledetailscontainer, .profileedits {
        width: 100%; 
        margin: 10px 0; 
    }

}