/* Full-width banner */
.studyabroadbanner {
    width: 100%;

  }
  .studyabroadbannertext{
    position: absolute;
  }
  .studyabroadbanner img {
    width: 100%;
    object-fit: cover;
  }
  .studyabroadbannerphone img {
    display: none;
    height: 400px;
    object-fit: cover;
  }
  .stuyaboadform{

    width: 100%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7f8ffd5;
  }
  [data-theme = 'dark'] .stuyaboadform {
    background: #1f232680;

  }

  
.studyabroadforminsiders{
  display: flex;
  margin: 0 20px;
  gap: 40px;
  max-width: 1200px;
}
  
  .studyabroadforminsiders img{
    max-width: 500px;
    max-height: 600px;
    margin-top: 50px;
    padding: 30px;

  }
  /* Layout */
  .content-container {
    display: flex;
    padding: 20px;
  }
  
  /* Filter section */
  .filter-container {
    width: 25%;
    padding: 20px;
    background: #eaeaea;
    border-radius: 10px;
  }
  [data-theme = 'dark'] .filter-container {
    background: #2c2c2c;
  }
  
  .filter-container input, .filter-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  
  /* University list */
  .university-list {
    width: 100%;
    padding: 20px;
  }
  .university-list-container{
    width: 100%;
    padding: 15px;
  }
  .university-card {
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #F5F5F5 ;
  }
  [data-theme = 'dark']  .university-card {
    background: #262626;
  }
  [data-theme = 'dark'] .university-list :hover {
    background: #2c2c2c;
  }
  [data-theme = 'light'] .university-list :hover {
    background: #ebebeb;
  }
  .university-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .university-info h4 {
    margin: 0;
    color: #333;
  }
  
  .university-info p {
    margin: 5px 0;
    color: #666;
  }
  .filter-container {
    background-color: #F5F5F5;
    text-align: center;
    padding: 20px;
    height: 700px;
    overflow-y: auto;
  }
  /* Country Filter Container */
.country-filter {
    display: flex;
    flex-direction: column;
    gap: 15px;

  }
  
  /* Country Option */
  .country-option {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
  }
  [data-theme = 'dark'] .country-filter :hover {
    background: #232323;
  }
  [data-theme = 'light'] .country-filter :hover {
    background: #d0d0d0;
  }
  
  .country-option img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
  }
  
  /* Highlight Selected Country */
  .country-option.selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .closefilteruniversityicon{
    display: none;
  }
  .floating-filter-button{
    display: none;
  }
  .filteruniversityoverlay{
    display: none;
  }
  .abroadform-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

.abroadforminsiders{
  display: flex;
  margin-top: 0px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #c9f5ff;
  gap: 50px;
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  align-items: center;
  justify-content: space-between;

}
[data-theme='dark'] .abroadforminsiders {
  background-color: #252f30;
}
.abroadforms{
  padding: 40px;
}
.abroadforms h2{
  padding: 10px 0;
  color: #353535;
}
[data-theme='dark'] .abroadforms h2 {
  color: rgba(215, 215, 215, 0.726);
}
[data-theme='dark'] .abroadforms p {
  color: rgba(215, 215, 215, 0.755);
}


.abroadforms p{
  padding: 10px 0;
  margin: -30px 10px 0 0px;
  color: #353535;
}

.abroadforms .form-row {
  display: flex;
  gap:50px; 
  margin-bottom: 15px;
}

.abroadforms .form-row label {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.frontpage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width:calc(100% + 20px);
  border-radius: 12px;
}
.phonenumbercontainer{
  display: flex;
  width: 100%;
  gap: 10px;
}


.countrycode{
  display: flex;
  max-width: 70px;
}
.countrycode input {
  background-color: rgba(84, 84, 84, 0.342);
}

[data-theme='light'] .countrycode input {
  background-color:  #f0f0f0;;
 
}
.abroadforms{
  width: 100%;
  text-align: start;
}
.abroadforms input{
  border-color: #505050;
  border-radius: 10px;
  height: 30px;
  background-color: white;
}
[data-theme='dark'] .abroadforms input {
  background-color: rgb(63, 63, 63);
  border-color: #787878;
 
}
.abroadforms select{
  border-color: #404040;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
}
[data-theme='light'] .abroadforms select {
  color: black;
  
}
[data-theme='dark'] .abroadforms select {
  background-color:  rgb(63, 63, 63);
  
}


.formbannercontainer{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.formbanner{
  margin: 10px;
  object-fit: cover;
  max-height: 500px;
  max-width: 500px;
}
.bottombutton{
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 10px;
 padding-bottom: 100px;
}
.submit{
  width: 100%;
  border-radius: 20px;
  max-width: 300px;
}
.university-detailsbody.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevents scroll completely */
}
@media (max-width: 1000px) {
.abroadform-container{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  border-radius: 0px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.studyabroadbanner img {
  display: none;
}
.studyabroadforminsiders img{
  display: none;

}
.formbannercontainer{
  display:none;
}
}
  @media (max-width: 768px) {
    .abroadform-container{
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      border-radius: 0px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      background-color: white;
    }
    
    .submit{
      width: 100%;
      max-width: 100%;
    }
    .abroadforms .form-row {
      display: flex;
      gap:0px; /* space between the two inputs */
      margin-bottom: 15px;
      margin: 10px;
      flex-direction: column;
    }
    .formbanner{
      display:none;
    }
    
    .abroadforms .form-row label {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .abroadforms {
      padding: 10px;
      margin-left: -10px;
      width: calc(100% - 20px);
    }
    
    .abroadforminsiders{
      display: flex;
      height: 100%;
      width: 90%;
      padding: 10px;
      flex-direction: column;
   
    }    
    .filter-container {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0px;
      border-radius: 0px;
    }

    .university-list {
      width: 100%;
      padding: 0px;
    }
    .content-container {
      display: flex;
      padding: 0px;
    }
    .closefilteruniversityicon{
      display: block;
    }
    .floating-filter-button{
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: center;
      top: 120px;
      left: 0px;
      padding: 10px;
      border-radius: 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) ;
      cursor: pointer;
      z-index: 9;
      width: 80px;
      height: 60px;
    }
    [data-theme = 'dark'] .floating-filter-button{
      background: #232323;
    }
    [data-theme = 'light'] .floating-filter-button{
      background: #ffffff;
      color: #000000;
    }
    .filteruniversityoverlay{
      display: block;
      position: fixed;
      top: 70px;
      left: 0px;
      width: 100%;
      height: 100%;
      z-index: 8;
    }
    .studyabroadbannerphone img {
      display: flex;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .studyabroadbanner img {
      display: none;
    }
    .studyabroadforminsiders img{
      display: none;
  
    }
    .frontpage {
      width: 100%;
      padding: 0 10px;
    }
  }
