/* Full-width banner */
.studyabroadbanner {
    width: 100%;

  }
  .studyabroadbannertext{
    position: absolute;
  }
  .studyabroadbanner img {
    width: 100%;
    object-fit: cover;
  }
  .studyabroadbannerphone img {
    display: none;
    height: 400px;
    object-fit: cover;
  }
  .stuyaboadform{

    width: 100%;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7f8ffd5;
  }
  [data-theme = 'dark'] .stuyaboadform {
    background: #1f232680;

  }

  
.studyabroadforminsiders{
  display: flex;
  margin: 0 20px;
  gap: 40px;
  max-width: 1200px;
}
  
  .studyabroadforminsiders img{
    max-width: 500px;
    max-height: 600px;
    margin-top: 50px;
    padding: 30px;

  }
  /* Layout */
  .content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
  }
  
  /* Filter section */
  .filter-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .filter-container input, .filter-container select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  .filter-containerinsiders{
    padding: 0 20px;
  }
  
.universitylistmain{
  display: flex;

  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 0px 20px;
}
.university-info{
  padding: 10px;
}
  
  .university-info h4 {
    margin: 0;
    color: #333;
  }
  
  .university-info p {
    margin: 5px 0;
    color: #666;
  }

.country-filter {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

  }
  
  /* Country Option */
.country-option {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  flex: 0 1 calc(33.33% - 20px); 
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden; 
}
.countrynames {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 800;
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
   transition: font-size 0.3s ease-in-out;
}

  
.country-option img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  transform: scale(1.1); 
  object-fit: cover;
  border: 2px solid transparent;
  transition: transform 0.3s ease-in-out;
}

.country-option:hover img {
  transform: scale(1);
}


.country-option:hover .countrynames {
  font-size: 50px;
  transition: font-size 0.3s ease-in-out;
}

  /* Highlight Selected Country */
  .country-option.selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .floating-filter-button{
    display: none;
  }

  .abroadform-container{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    border-radius: 0px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: white;
  }

.abroadforminsiders{
  display: flex;
  margin-top: 0px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: #c9f5ff;
  gap: 50px;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  align-items: center;
  justify-content: space-between;

}
[data-theme='dark'] .abroadforminsiders {
  background-color: #252f30;
}

.abroadforms h2{
  padding: 10px 0;
  color: #353535;
}
[data-theme='dark'] .abroadforms h2 {
  color: rgba(215, 215, 215, 0.726);
}
[data-theme='dark'] .abroadforms p {
  color: rgba(215, 215, 215, 0.755);
}


.abroadforms p{
  padding: 10px 0;
  margin: -30px 10px 0 0px;
  color: #353535;
}

.abroadforms .form-row {
  display: flex;
  gap:50px; 
  margin-bottom: 15px;
}

.abroadforms .form-row label {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.frontpage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width:calc(100% + 20px);
  border-radius: 12px;
}
.phonenumbercontainer{
  display: flex;
  width: 100%;
  gap: 10px;
}


.countrycode{
  display: flex;
  max-width: 70px;
}
.countrycode input {
  background-color: rgba(84, 84, 84, 0.342);
}

[data-theme='light'] .countrycode input {
  background-color:  #f0f0f0;;
 
}
.abroadforms{
  width: 100%;
  text-align: start;
}
.abroadforms input{
  border-color: #505050;
  border-radius: 10px;
  height: 30px;
  background-color: white;
}
[data-theme='dark'] .abroadforms input {
  background-color: rgb(63, 63, 63);
  border-color: #787878;
 
}
.abroadforms select{
  border-color: #404040;
  border-radius: 10px;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
}
[data-theme='light'] .abroadforms select {
  color: black;
  
}
[data-theme='dark'] .abroadforms select {
  background-color:  rgb(63, 63, 63);
  
}


.formbannercontainer{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
.formbanner{
  margin: 10px;
  object-fit: cover;
  max-height: 500px;
  max-width: 500px;
}
.bottombutton{
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 10px;
 padding-bottom: 100px;
}
.frontpagebottombutton{
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 10px;
}
.submit{
  width: 100%;
  border-radius: 20px;
  max-width: 300px;
}
.university-detailsbody.no-scroll {
  overflow: hidden;
  height: 100vh; /* Prevents scroll completely */
}
@media (max-width: 1000px) {
.abroadform-container{
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  border-radius: 0px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.studyabroadbanner img {
  display: none;
}
.studyabroadforminsiders img{
  display: none;

}
.formbannercontainer{
  display:none;
}
}
  @media (max-width: 768px) {
    .abroadform-container{
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      border-radius: 0px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      background-color: white;
    }
    
    .submit{
      width: 100%;
      max-width: 100%;
    }
    .abroadforms .form-row {
      display: flex;
      gap:0px; /* space between the two inputs */
      margin-bottom: 15px;
      margin: 10px;
      flex-direction: column;
    }
    .formbanner{
      display:none;
    }
    
    .abroadforms .form-row label {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .abroadforms {
      padding: 10px;
      margin-left: -10px;
      width: calc(100% - 20px);
    }
    
    .abroadforminsiders{
      display: flex;
      height: 100%;
      width: 90%;
      padding: 10px;
      flex-direction: column;
   
    }    
    .country-option {
      flex: 0 1 calc(50% - 20px); 
    }
    .university-list {
      width: 100%;
      padding: 0px;
    }
    .content-container {
      display: flex;
      padding: 10px;
    }
    
      .country-option:hover .countrynames {
        font-size: 40px;
      }
    .floating-filter-button{
      display: flex;
      position: fixed;
      justify-content: center;
      align-items: center;
      top: 120px;
      left: 0px;
      padding: 10px;
      border-radius: 0px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) ;
      cursor: pointer;
      z-index: 9;
      width: 80px;
      height: 60px;
    }
    [data-theme = 'dark'] .floating-filter-button{
      background: #232323;
    }
    [data-theme = 'light'] .floating-filter-button{
      background: #ffffff;
      color: #000000;
    }
  
    .studyabroadbannerphone img {
      display: flex;
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
    .studyabroadbanner img {
      display: none;
    }
    .studyabroadforminsiders img{
      display: none;
  
    }
    .frontpage {
      width: 100%;
      padding: 0 10px;
    }
    @media (max-width: 500px) {
      .filter-containerinsiders{
        text-align: start;
      }
 
      .country-filter {
        gap: 20px;
      }
      .country-option {
        flex: 0 1 calc(50% - 20px); 
      }
      .countrynames{
        font-size: 30px;
      }
    }
  }
