
.teachercommunitypage-tabs {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 50px;
    font-size: 18px;
    margin-bottom: 20px;
   
  }
  
  .teachercommunitypage-tab {
    padding: 10px 20px;
    display: flex;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: bold;
    background-color: rgb(0,153,255);
  }
  
  .teachercommunitypage-tab:hover {
    background-color: #bdc3c7;
  }
  
  .teachercommunitypage-tab-active {
    background-color: rgb(0, 80, 133);
    color: white;
  }

  
  /* Teachersvacancy */

  .teachercommunitycontainer{
    width: 100%;
    display: flex;
    justify-content: center;
   
  }
  .refer  {
    border-radius: 30px;
    padding: 5px 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
  }
  [data-theme='light'] .refer button {
   color: #000000;
  }
  .referafriend{
    background-color: #00b336;
  }

  .refer button{
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 100%;
    
  
  }
  .refer:hover {
    background-color: rgb(0, 162, 255);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  .teachervacancybody {
    padding: 20px;
    width: 100%;
    max-width: 1600px;
  }
  [data-theme='dark'] .gpsicon{
    color: #0099ffca;;
  }
  [data-theme='light'] .gpsicon{
    color: #ffffffca;;
  }
  .mapboxgl-ctrl-geocoder .suggestions{
    background-color: #181818;
    border: none;
    font-family: "Raleway", sans-serif !important;
    
}
[data-theme='dark']  .mapboxgl-ctrl-geocoder .suggestions{
  background-color: rgb(29, 39, 39);
  color: white;

}

[data-theme='light']  .mapboxgl-ctrl-geocoder .suggestions{
  background-color: rgb(255, 255, 255);


}


  [data-theme='dark']  .mapboxgl-ctrl-geocoder .suggestions > li > a{
    background-color: rgb(29, 39, 39);
    border: 1px solid rgb(62, 62, 62);
    color: white;

  }
  
  [data-theme='light']  .mapboxgl-ctrl-geocoder .suggestions > li > a{
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
  
  }

  [data-theme='dark']  .mapboxgl-ctrl-geocoder {
    background-color: rgb(29, 39, 39);
    border-radius: 20px;
    box-shadow: none;
    color: white;
    width: 100%;


  }
  
  [data-theme='light']  .mapboxgl-ctrl-geocoder {
    background-color: rgb(255, 255, 255);
   box-shadow: none;
  
  }

  [data-theme='light']  .mapboxgl-ctrl-geocoder--input{
   color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 20px;
  
  }

  [data-theme='dark'] .mapboxgl-ctrl-geocoder--input{
    color: white!important;
    border-radius: 20px;
     border: 1px solid rgba(128, 128, 128, 0.401);

  }
  



  [data-theme='light'] .mapboxgl-ctrl-geocoder .suggestions > .active > a:hover,.mapboxgl-ctrl-geocoder .suggestions > li > a:hover{
     background-color: #d5d5d5;
   
   }
 
   [data-theme='dark'] .mapboxgl-ctrl-geocoder .suggestions > .active > a:hover,.mapboxgl-ctrl-geocoder .suggestions > li > a:hover{
    background-color:#181818;
     color: white!important;
 
   }
  
   

.mapboxgl-ctrl-geocoder--button {
  background-color: transparent !important;
  padding: 5px;
  display: none !important;
  pointer-events: none;
}
  
  .teachervacncytopbuttons{
    display: flex;
    justify-content: space-between;

  }
  .vacancy-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Exactly 3 columns */
    gap: 20px;
    width: 100%;
    max-width: 1600px;
    margin: 20px auto;
  }
  
  .vacancycommunitycard {
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
  }
  [data-theme='dark'] .vacancycommunitycard {
    background-color: rgb(36, 36, 36);
    border: 1px solid rgb(62, 62, 62);

  }
  
  [data-theme='light'] .vacancycommunitycard {
    background-color: rgb(255, 255, 255);
  
  }
  .vacancystatuss{
    padding: 20px;
    margin-bottom: 10px;
  }
  [data-theme='dark'] .vacancystatuss {
    background-color: rgb(28, 28, 28);
    border-radius: 20px;

  }
  .Assignedcontainer{
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  
  [data-theme='light'] .Assignedcontainer {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
  }
  
  [data-theme='dark'] .Assignedcontainer {
    background-color: rgb(47, 47, 47);
    border-radius: 20px;

  }
  
  [data-theme='light'] .vacancystatuss {
    background-color: rgba(8, 146, 251, 0.239);
    border-radius: 20px;
   
  }
/* Dark theme for the banner */
[data-theme='dark'] .teacherscommunitybanner {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
  border-radius: 20px;
  background: linear-gradient(to right, #3d464b, #02345d);  /* Original dark gradient */
}

/* Light theme for the banner */
[data-theme='light'] .teacherscommunitybanner {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 300px;
  border-radius: 20px;
  background: linear-gradient(to right, #e0f7fa, #80deea);  /* Light gradient for light theme */
}

  .teacherscommunityimage{
    height: 300px;
  }
  
  
  .vacancycommunitygraphics {
    width: 100%;
    border-radius: 10px 10px 0 0;
    justify-content: center;
    align-items: center;
    text-align: start;
    border-radius: 20px;
    
    
  }
  
  [data-theme='dark'] .vacancycommunitygraphics {
    background: linear-gradient(to bottom, #1a2d26, #2c4d44 0%, transparent);
  }
  
  [data-theme='light'] .vacancycommunitygraphics {
  background-color: rgb(247, 252, 255);
}
.teacherscommunitytext{
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  .vacancycommunitydetails{
    text-align: start;
  }
  .vacancycommunitydetails h4{
   margin: 5px;
  }
  .Vacancytabs{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .modal {
    display: block; /* Ensure modal is visible when isModalOpen is true */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal-contents {
    position: relative;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    max-width: 500px;
    top: 50%;
    transform: translateY(-50%);
  }
  [data-theme='dark']   .modal-contents {
    background:rgb(29,39,39);
  }
  
  [data-theme='light']   .modal-contents {
    background: white;
}
  .contactwhatsappbutton{
    display: flex;
    gap: 10px;
  }
  .vacancycommunitycard{
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  .vacancycommunitycard:hover{
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }
  .minrequirements{
    padding: 10px;
    border-radius: 10px;

  }
  [data-theme='dark']   .minrequirements {
    background:rgb(42, 55, 55);
  }
  
  [data-theme='light']   .minrequirements{
    background: rgb(233, 233, 233);
}
.vacancy-detail-body{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.vacancydetailscontents{
  width: 80%;
  gap: 40px;
  justify-content: space-between;
  display: flex;
}
.vacancybodybanner{
  display: flex;

}
.importantvacacnynote{
  text-align: start;
  width: 100%;
  max-width: 500px ;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(154, 154, 154, 0.065);
}
.vacancy_detail_leftside{
  width: 50%;
}
.vacancy_detal_rightside{
  width: 50%;
  border-radius: 20px;
}
.vacancydetailinformation{
  height: auto;
  justify-content: center;
  text-align: start;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgba(182, 182, 182, 0.065);
}
.vacancy_detail_salary p {
  margin: 6px 0;
  font-size: 18px;
}
.refersuggestions{
  background-color: #0099ff17;
  padding: 10px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  border: 1px solid  #0099ffca;
  border-radius: 10px;
  text-align: start;
}



  
  /* Responsive: 2 columns on medium screens, 1 column on small */
  @media (max-width: 1024px) {
    .vacancy-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .vacancy-list {
      grid-template-columns: repeat(1, 1fr);
    }
    .teachervacncytopbuttons{
      flex-direction: column;
      display: flex;
      margin-top: 10px;
      gap: 8px;
    }
    .teacherscommunityimage{
      height: 180px;
    }
    .teacherscommunitytext{
      font-size: 12px;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .teachervacancybody {
      padding: 5px;
      width: 100%;
      max-width: 1600px;
    }
    .vacancydetailscontents{
      flex-direction: column;
      width: 100%;
      justify-content: center;
    

    }
    .vacancy_detail_leftside{
      width: 100%;
    }
    .vacancy_detal_rightside{
      width: 100%;
      padding: 0px;
    }
    .importantvacacnynote{
      padding: 0px;
    }
    .importantvacancynoteinside{
      padding: 10px;
    }
    .vacancydetailinside{
      padding: 10px;
    }
    .vacancydetailinformation{
      width: 100%;
      margin: 10px 0px;
      padding: 10px 0px;
    }
    .refersuggestions{
      background-color: #0099ff17;
      padding: 10px;
      display: flex;
      margin: 20px 0px;
      justify-content: space-between;
      border: 1px solid  #0099ffca;
      border-radius: 10px;
      text-align: start;
    }
  }
  