

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}

/* Form Container */
.form-container {
  padding: 2rem;
  border-radius: 10px;
  max-width: 1200px;
  width: 100%;
  text-align: center;
}
.teachersforms{
  width: 50%;
}

.form-container h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #4db5ff;
}

/* Input Groups */
.profileinput-group {
  margin-bottom: 1rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: block;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: #292929;
  font-size: 1rem;
  transition: 0.3s;
}
[data-theme='dark'] .input-group input {
  color: white ;
  background-color: rgba(48, 58, 62, 0.713);
 }
 
 [data-theme='light'] .input-group input{
  color: black;
  background-color: rgb(213, 213, 213);
 }


.input-group input:focus,
.input-group textarea:focus {
  outline: none;
}
[data-theme='dark'] .input-group input:focus, .input-group textarea:focus{
  background-color: #1a282d;
 }
 
 [data-theme='light'] .input-group input:focus, .input-group textarea:focus{
  background-color: white;
 }



.profile-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

/* Submit Button */
.submitformbutton {
  width: 100%;
  background: #4db5ff;
  border: none;
  padding: 12px;
  font-size: 1rem;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.teacherexperiencemodal {
  position: fixed; /* Stays fixed on the screen */
  top: 0;
  left: 0;
  width: 100%; 
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  z-index: 1000; 
}
[data-theme='dark'] .teacherexperiencemodal {
  background-color:rgb(20, 20, 20);
 }
 
 [data-theme='light'] .teacherexperiencemodal{
  background-color: white;
 }

.teacherexperiencecontainer {
  width: 100%; /* Adjust width as needed */
  height: 100dvh; /* Adjust height as needed */
  border-radius: 10px; /* Rounded corners */
  padding: 0 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
[data-theme='dark'] .teacherexperiencecontainer {
  background-color:rgb(20, 20, 20);
 }
 
 [data-theme='light'] .teacherexperiencecontainer{
  background-color: white;
 }
 .tuitorinitialsteps{
  border-bottom: 5px solid rgb(40,45,45);;
  padding: 10px 20px;
  text-align: start;
 }
 .tuitorinitialbottombar{
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.2); /* Top shadow */
  padding: 10px 20px;
  text-align: start;
  
 }
 .tuitorinitialstepsnavcontents{
  display: flex;
  height: 50px;
  justify-content: space-between;
 }
 .tuitorinitialnavcontainerleft{
  display: flex;
 }
 .kibelogocontainer{
  padding: 0 30px 0 0;
  border-right: 2px solid rgb(40,45,45);
  height: 100%;
 }
.Kubelogo{
  height: 40px;
}
.teacherexperiencestepscounts{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  height: 100%;
}
.tuitorinitialnavcontainerright{
  display: flex;
 }
 .teacherexperiencesclose{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 100%;
 }
 .teacherexperiencesclose button{
  background-color: transparent;
  color: var(--primary-text-color);
 }
 .teacherexperiencecontents{
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 80px;

 }
 .teacherexperienceinsiders{
  height: 80dvh;
  justify-content: center;
  display: flex;
  text-align: start;
  flex-direction: column;
 }

 .teaching-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
 
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
}
[data-theme='dark'] .radio-label {
  border: 0.5px solid rgb(255, 255, 255);
 }
 
 [data-theme='light'] .radio-label{
  border: 0.5px solid rgb(40,45,45);
 }

.radio-label input {
  width: 18px;
  height: 18px;
  margin: 10px;
  

}

.teacherimagecontainer{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 80vh;
  width: 100%;
  max-width: 300px;
}
.teachimage{
  width: 100%;
  max-width: 300px;
}
 .teacherexperiencesclose{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  height: 100%;
 }
 


.school-input {
  position: relative; 

}

.school-input input {
  border-radius: 14px;
  height: 30px;
  padding: 10px 15px;
  border: none;
  background-color: #ededed;
}
[data-theme='dark'] .school-input input {
  color: white;;
  background-color: #2a2a2a;
  
 }
 
 [data-theme='light'].school-input input{
  color: black;
  background-color: #ededed;

 }

 .degree-input {
  position: relative; 

}

.degree-input input {
  border-radius: 14px;
  height: 30px;
  padding: 10px 15px;
  border: none;
  background-color: #ededed;
}
[data-theme='dark'] .degree-input input {
  color: white;;
  background-color: #2a2a2a;
  
 }
 
 [data-theme='light'].degree-input input{
  color: black;
  background-color: #efefef;
 
 }




/* Styling for the suggestions dropdown */
.suggestionsdropdown {
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin: 2px 0;
  transition: background-color 0.2s ease;
}


[data-theme='dark'] .suggestionsdropdown:hover {
  background-color: rgb(40,45,45);
 }
 
 [data-theme='light'] .suggestionsdropdown:hover{
  background-color: #e8e8e8;
 }

.suggestionsdropdown:hover {
  background-color: #f1f1f1;
}


.suggestionsdropdown.selected {
  background-color: #007bff;
  color: white;
}

/* Suggestions list container */
.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
[data-theme='dark'] .suggestions-list {
  background-color: rgb(27, 27, 27);
 }
 
 [data-theme='light'] .suggestions-list{
  background-color: #f1f1f1;
 }

.upload-icon{
  display: flex;
  flex-direction: column;
}
 .file-upload-container {
  position: relative;
  width: 100%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
[data-theme='dark']  .file-upload-container {
  background-color: rgba(40, 45, 45, 0.767);
 
 }
 
 [data-theme='light'] .file-upload-container {
  background-color:rgb(242, 242, 242);
 }

.identity-selection {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.step4{
  width: 600px;
}
.identity-selection select{
  border-radius: 10px;
  padding: 5px 10px;
 
}
[data-theme='dark'] .identity-selection select {
  background-color:rgb(33, 33, 33);
  color: white;
  border: none;
 
  
 }
 
 [data-theme='light'] .identity-selection select{
  background-color:rgb(240, 240, 240);
  color: black;
  border: none;
 
 }


.cvfileinput {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;  
  cursor: pointer;
}
.cv-preview{
  height: 140px;
}
.Gender-options{
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  gap: 20px;
  max-width: 400px;
  position: relative;
  text-align: center;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  display: flex;

}
.maleoption{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 10px;
    font-size: 20px;
    border-radius: 8px;
    width: 200px;
    height: 150px;
    transition: transform 0.2s, box-shadow 0.2s;
    
}
[data-theme='dark'] .maleoption{
  background-color:rgb(33, 33, 33);
  color: white;

  
 }
 
 [data-theme='light'] .maleoption{
  background-color:rgb(255, 255, 255);
  color: black;

 
 }
.maleoption:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}





@media (max-width: 600px) {
  .teachersforms{
    width: 100%;
  }
  .step4{
    width: 100%;
    min-width: 300px;
  }
  

  .teacherimagecontainer{
   display: none;
  }
  .teacherexperienceinsiders{
    width: 90%;
  }
  .school-input {
    width: 90%;
  }
  .degree-input{
    width: 90%;
  
  }
  .Gender-options{
    flex-direction: column;
  }
  
}