.tuitorapplyform{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.form-container {
    border-radius: 10px;
    width: 80%;
    display: flex;
    align-items: start;
    text-align: start;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #00bfff;
  }