.university-detail {
    max-width: 70%;
    margin: 30px auto;
    text-align: start;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .university-header {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .university-logo {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .university-info h2 {
    font-size: 2rem;
    margin: 0;
  }
  
  .university-info p {
    font-size: 1rem;
  }
  
  .website a {
    font-size: 1rem;
    color: #1e90ff;
    text-decoration: none;
  }
  
  .website a:hover {
    text-decoration: underline;
  }
  
  .university-details {
    gap: 10px;
    border-radius: 10px ;
    max-width: 350px;
    margin-bottom: 30px;
    background-color:rgb(250, 250, 250);
    border: 1px solid #9e9e9e3f;
  }
  [data-theme = 'dark'] .university-details {
    background: #2a2a2a;
    
  }
  .universitydetailsinsiders{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .university-description {
    margin-top: 20px;
    text-align: start;
    display: flex;
    justify-content: space-between;
  }
  

  .university-not-found {
    text-align: center;
    margin-top: 50px;
  }
  
  .university-not-found h2 {
    font-size: 1.5rem;
    color: #d9534f;
  }
  

  @media (max-width: 768px) {
    .university-logo {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
      .university-detail{
        max-width: 100%;
        padding: 20px 10px;
      }
      .university-details{
        max-width: 100%;
        padding: 0px;
        margin: 20px 0;
      }
   

      .university-description{
        flex-direction: column-reverse;
      }
  }