@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root {
  --color: rgba(255, 255, 255, 0.87);
  --background-color: rgb(33, 33, 33);
  --link-color: #f3f3f3;

  --button-background:  rgb(43, 53, 53); /* Facebook blue */
  --button-background-hover:  rgba(43, 53, 53, 0.624); /* Darker Facebook blue */
  --button-text-color: white;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --primary-text-color: white;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;
  color: var(--color);
  background-color: var(--background-color);
}

[data-theme='light'] {
  --color: black;
  --primary-text-color: black;
  --background-color: #ffffff;
  --link-color: #000000;

  --button-background: #1877f2; /* Facebook blue */
  --button-background-hover: #166fe5; /* Darker Facebook blue */
  --button-text-color: rgb(0, 0, 0);
}

button {
  border: none; /* Removes border */
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

  button:hover {
    background-color: var(--button-background-hover);
    color: var(--button-text-color-hover); /* Optional: change text color on hover */
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.355), 0 0 16px rgba(255, 255, 255, 0.387); /* Soft white glow */
  }

button:focus,
button:focus-visible {
  outline: none; /* Removes focus ring */
}
::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6); 
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8); 
}

::-webkit-scrollbar-track {
  background: rgba(29, 29, 29, 0.2);
  border-radius: 10px; 
}


* {
  scrollbar-width: thin; 
  scrollbar-color: rgba(63, 63, 63, 0.992) transparent; 
}


a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover);
}
input{
  color: var(--primary-text-color);
}
[data-theme='light'] input {
  color: black; 
  
}

[data-theme='dark'] input {
  color: white; /* White text in dark mode */
}
body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
   color: var(--primary-text-color);
}

h3 {
  margin: 0px;
}
p{
  margin: 5px;
}

